:root {
    --primary-color: #2e0854;
    --secondary-color: #d15fee;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}
header a {
    color: var(--secondary-color);
    text-decoration: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.startPage {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.startPage p {
    line-height: 1.5;
    font-size: 15px;
}
.startButton {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    width: 100px;
    height: 35px;
}
.startButton:hover, .startButton:active {
    background-color: var(--secondary-color);
}

#questionDiv {
    display: none;
}
#endQuizDiv {
    display: none;
}

/* quiz div */
.questionDiv {
    flex-direction: column;
    align-items: center;
}
/* question title */
.questionTitle {

}
/* class for quiz choice buttons */
.choiceButton {
    display: block;
    margin: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 22px;
    width: 300px;
}

.feedbackDiv {
    align-self: flex-end;
    border-top: 2px solid gray;
}
.feedback {
    text-align: center;
    color: gray;
    font-style: italic;
    font-size: 25px;
}